body {
	background-color: #3d0f2e;
}

#title {
	color: white;
	text-align: center;
}

.box {
	border: medium;
	border-color: black;
	align-items: center;
}

p{
	color: white;
	text-align: center;
}

button {
	background-color: silver;
	border: none;
	padding: 5px;
	text-align: center;
	
}