body {
	background-color: #3d0f2e;
}

#title {
	color: white;
	text-align: center;
}

#list {
	column-count: 3;
	column-gap: 40px;
	column-rule-style: dotted;
	
}

p{
	color: white;
	text-align: center;
}